@model Sprint33.Models.Prescription

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prescription</h2>

<div>
    <h4>Details</h4>

    <a href="javascript:window.print()" class="btn btn-primary">Click To Print This Page</a>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrescriptionDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrescriptionDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateIssued)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.DateIssued)*@
            @Html.FormatValue("yyyy-MM-dd", Model.DateIssued.ToString("yyyy-MM-dd"))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrescriptionValid)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.PrescriptionValid)*@
            @Html.FormatValue("yyyy-MM-dd", Model.PrescriptionValid.ToString("yyyy-MM-dd"))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientName)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index")" class="btn btn-primary">Back To List</a>
</p>
