@model Sprint33.Models.Referral

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Referral</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.referral_Doctors_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referral_Doctors_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referral_doctor_Add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referral_doctor_Add)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referral_doctor_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referral_doctor_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referral_doctor_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referral_doctor_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referral_patient_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referral_patient_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referral_patient_Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referral_patient_Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referral_patient_DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referral_patient_DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referral_patient_Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referral_patient_Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referral_ValidDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referral_ValidDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.refferal_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.refferal_Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referral_Reasoning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referral_Reasoning)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
