@model IEnumerable<Sprint33.Models.Inventory>

@{
    ViewBag.Title = "List Of Current Stock";
}

<h2>Inventory</h2>
@using (Html.BeginForm("AdminIndex", "Inventories1", FormMethod.Get))
{
    @Html.TextBox("searching")
    <input type="submit" value="submit" />
    <br>
    <h4>Stock is Low on the following items :</h4>
   @Html.ActionLink("View High Stock", "HighStock", "Inventories1")
    <br>
    @Html.ActionLink("View Low Stock", "Lowstock", "Inventories1")
    <p>
        @Html.ActionLink("Add New Stock", "AdminCreate")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.itemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemPrice)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.itemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.itemQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.itemPrice)
                </td>
                <td>
                    @Html.ActionLink("Change Status", "AdminEdit", new { id = item.ItemID }) |
                    @Html.ActionLink("Details", "AdminDetails", new { id = item.ItemID }) 

                </td>
            </tr>
        }

    </table>
    @Html.ActionLink("Return to Home", "Homepage", "Admins1")
}