@model Sprint33.Models.Referral

@{
    ViewBag.Title = "Details";
}
<a href="javascript:window.print()">Click to Print This Page</a>
<h2>Details</h2>

<div>
    <h4>Referral</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.referral_Doctors_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referral_Doctors_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referral_doctor_Add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referral_doctor_Add)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referral_doctor_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referral_doctor_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referral_doctor_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referral_doctor_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referral_patient_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referral_patient_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referral_patient_Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referral_patient_Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referral_patient_DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referral_patient_DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referral_patient_Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referral_patient_Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.refferal_Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.refferal_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referral_ValidDate)
        </dt>

        <dd>
            
            @Html.DisplayFor(model => model.referral_ValidDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.refferal_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.refferal_Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referral_Reasoning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referral_Reasoning)
        </dd>

    </dl>
</div>

<h4>Yours Faithfully</h4>
<h4>Dr. James Govender</h4>


<br>


<br>
@Html.TextBox("Date", DateTime.Now, new { @readonly = "readonly" })


<br>


<br>
<br>


<br>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.refferal_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
