@model IEnumerable<Sprint33.Models.Appointment>

@{
    ViewBag.Title = "List of Completed Appointments";
}

<h2>List of Completed Appointments</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PatientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.symtoms)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.CheckedIn == false && item.PatientName != null && item.Confirmed == true)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentTime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.symtoms)
            </td>

            <td>
                <a type="button" class="btn btn-primary" 
                   href="@Url.Action("AddPrescription", "Prescriptions", 
                        new { patientId = item.PatientID})">
                    Create Prescription
                </a>
            </td>
        </tr>
    }
}

</table>
@Html.ActionLink("Return Home", "Homepage", "Doctors1")